.lds-dual-ring {
  display: inline-block;
  width: 80px;
  height: 80px;
}

.spiner-continer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.lds-dual-ring:after {
  content: " ";
  display: block;
  width: 64px;
  height: 64px;
  border-radius: 50%;
  border: 6px solid #fff;
  border-color: rgb(187, 150, 187) transparent rgb(187, 150, 187) transparent;
  animation: lds-dual-ring 1.2s linear infinite;
}

@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.continer_events {
  margin: 0 auto;
  width: 50%;
}

@media only screen and (max-width: 600px) {
  .continer_events {
    width: 100%;
  }
  .date_title_continer {
    width: 100%;
  }
  .filter_continer {
    width: 90% !important;
    padding: 1rem 0 !important;
  }
  .showEvents_continer {
    margin: 0 !important;
  }
  .background {
    min-height: 812px;
  }
  .events_number {
    display: none;
  }
  .date_title_input {
    width: 100% !important;
  }
  .date_title_continer {
    flex-direction: column !important;
  }
}
.p_date {
  text-align: right;
}
.background {
  background-image: url("https://images.unsplash.com/photo-1462536943532-57a629f6cc60?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1352&q=80");
  background-attachment: fixed;
  background-position: center;
  min-height: 1000px;
}

.filter_continer {
  width: 60%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  padding: 4rem 0;
  margin-top: 3rem;
}

.search_color_main {
  background: rgba(213, 213, 213, 0.8);
}

input {
  text-align: right;
}

.date_title_input {
  width: 90%;
  margin: 1rem 0px;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  color: rgb(23, 142, 210);
  vertical-align: top;
  padding: 10px 16px;
  font-size: 18px;
  line-height: 1.3333333;
  border-radius: 6px;
  border: 1px solid #ccc;
}

.search {
  display: flex;
  flex-direction: row;
  width: 100%;
  margin: 1rem 0;
}

.search_input {
  width: 100%;
  height: 2rem;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  color: rgb(23, 142, 210);
  vertical-align: top;
  padding: 10px 16px;
  font-size: 18px;
  line-height: 1.3333333;
  border-radius: 6px;
  border: 1px solid #ccc;
  border-left: none;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
}

.date_title_continer {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.btn_icon {
  margin: 0;
  border-color: #ccc;
  color: #333;
  border: none;
  background-color: white;
  width: 4rem;
  font-size: 18px;
  border: 1px solid #ccc;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.events_number {
  text-align: right;
}

.addEvents {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 2rem 0;
  direction: rtl;
}

.showEvents_continer {
  margin: 0 2rem;
}

.showEvents_continer_main {
  background: rgba(213, 213, 213, 0.8);
  opacity: 0.9;
}

.addEvent_btn {
  box-shadow: 0px 5px 0px rgb(167, 140, 167);
  color: #259ee2;
  font-family: "Fascinate Inline", cursive;
  font-size: 19px;
  font-weight: bold;
  padding-left: 25px;
  padding-right: 25px;
  border: none;
  background-color: white;
  margin: 1rem 0;
  border-color: #ccc;
  border: 1px solid transparent;
  border-radius: 4px;
}

.p_date {
  direction: rtl;
}
.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  color: white;
  text-align: center;
  height: 100px;
  background-color: dimgrey;
  display: flex;
  justify-content: center;
  align-items: center;
  bottom: 0;
}

.Footer_a {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-self: center;
  list-style-type: none;
  color: black;
  padding: 0;
  text-align: center;
}

li {
  margin: 0px 1rem;
}

.links {
  color: white;
  font-size: 1.2rem;
}
