.event_li {
    margin: 1rem 0;
    padding: 1rem;
    border: 3px solid blueviolet;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 50%;
}

 
.date_price_div {
    display: flex;
    flex-direction: column;
}
.title_price_div{
    font-family: 'Fascinate Inline', cursive;
    font-weight: bold;

}
p {
    margin: 0;
    padding: 0;
    text-align: center;
}
.btn_info{
    font-family: 'Fascinate Inline', cursive;
    font-size: 2vmin;
    width: 200px;
    background: linear-gradient(to bottom, #F46001, #E14802);
    border: none;
    color: #FFF;
    border-radius: 2em;
    padding: .2em 1em;
    cursor: pointer;
    margin: 2rem;
}