.auth-form {
  width: 20rem;
  max-width: 80%;
  margin: 3rem auto;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: black;
}

.form-control label,
.form-control input {
  width: 100%;
  font-family: "Fascinate Inline", cursive;
}

.form-control {
  margin: 2rem;
  font-size: 1.5rem;
}

.form-control-btn {
  margin: 2rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.main-continer {
  border: 1px solid black;
}

.login_signup {
  text-align: center;
  font-size: 4rem;
  font-family: "Fascinate Inline", cursive;
}

.submit_btn {
  font-family: "Fascinate Inline", cursive;
  width: 110px;
  background: linear-gradient(to bottom, #f46001, #e14802);
  border: none;
  color: #fff;
  border-radius: 2em;
  padding: 0.1rem;
  margin: 0;
  cursor: pointer;
}

/* .left_side {
    height: 745px;
    background-color: white;
    width: 20%;
}

.right_side {
    background-image: url(https://images.pexels.com/photos/1387174/pexels-photo-1387174.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260);
     background-size: cover;
    background-position: top;
    width: 100%;
    height: 745px;
 } */

@media (max-width: 812px) {
  .login_continer {
    height: 100vh;
  }
  .form_control {
    width: 80%;
    margin-bottom: 8rem;
  }
}

.login_continer {
  background-attachment: fixed;
  background-position: bottom;
  height: 95.9vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: right;
}

.form_control {
  font-family: "Fascinate Inline", cursive;
  margin-bottom: 10rem;
}

.MuiButton-containedPrimary {
  background-color: thistle !important;
  color: black !important;
  font-size: 1rem !important;
  font-weight: bold !important;
  font-family: "Fascinate Inline", cursive !important;
}

.MuiAvatar-root {
  background-color: thistle !important;
}

.login_h1 {
  font-size: 2.5rem;
}

.icon_h1 {
  display: flex;
  align-items: center;
  align-self: center;
  justify-content: space-between;
  width: 100%;
}

.MuiFormLabel-root.Mui-error {
  color: black !important;
}

.MuiOutlinedInput-root.Mui-error .MuiOutlinedInput-notchedOutline {
  border-color: black !important;
}
