.first_div {
  background-position: top;
  height: 70%;
  display: flex;
  flex-direction: row;
  width: 100%;
}
.first_div h1 {
  font-size: 4rem;
  font-family: "Fascinate Inline", cursive;
  margin: 1rem;
}
.first_div p {
  font-size: 2rem;
  font-family: "Fascinate Inline", cursive;
}

.continer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
  justify-content: center;
}
.left-div {
  background-image: url(https://images.unsplash.com/photo-1511871893393-82e9c16b81e3?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80);
  background-position: center;
  width: 50%;
}

.bold {
  font-weight: bold;
}

.btn-home {
  font-family: "Fascinate Inline", cursive;
  font-size: 2.1vmin;
  width: 200px;
  background-color: rgb(187, 150, 187);
  border: none;
  color: #fff;
  border-radius: 2em;
  padding: 0.6em 1.5em;
  cursor: pointer;
  margin: 0.2rem;
}

.btn:hover {
  background-color: black;
  color: rgb(187, 150, 187);
}

.second_div {
  width: 100%;
  height: 30%;
  background-color: #161616;
  color: white;
  font-size: 1.2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
}

.description_second_div {
  width: 900px;
}

.second_div h1 {
  display: inline-block;
  margin-bottom: 2rem;
}

.text_second_div {
  display: inline;
  font-family: "Fascinate Inline", cursive;
}

strong {
  color: white;
}
.home_continer {
  height: 100vh;
}

@media only screen and (max-width: 600px) {
  .second_div {
    display: none;
  }

  .home_continer {
    height: 100vh;
    z-index: 999;
  }
  .first_div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin-top: -60px;
  }
  .home-title {
    font-size: 2.5rem !important;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    color: black;
  }
  .main-p {
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  }
  .btn-home {
    padding: 0.5rem 5px;
    margin: 5rem;
    width: 60%;
    font-size: 1.5rem;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    background-color: rgb(187, 150, 187);
    color: black;
    font-weight: bold;
    border-radius: 20px;
  }
  .continer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
  }
}
