.main-nav {
  background: rgb(187, 150, 187);
}
.main-navigation__logo {
  margin: 0;
  text-decoration: none;
  background-color: rgb(187, 150, 187);
  padding: 0.3rem 0.3rem;
  text-decoration: none;
  color: black;
  font-size: 1.5rem;
  font-weight: bold;
  font-family: "Fascinate Inline", cursive;
}

.main-navigation__logo:hover {
  color: white;
}

.main-navigation__item a {
  text-decoration: none;
  background-color: rgb(187, 150, 187);
  padding: 0.3rem 0.3rem;
  text-decoration: none;
  color: white;
  font-size: 1rem;
  font-weight: bold;
  font-family: "Fascinate Inline", cursive;
}

.events {
  margin-right: 1rem;
}

.main-navigation__item a:hover,
.main-navigation__item a:active {
  text-decoration: none;
  color: black;
}

.EasyEvent {
  font-family: "Fascinate Inline", cursive;
}
